/*

This is where your css will go
feel free to delete everything in this file.

*/

body,html{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

.delete-this-div-and-class{
    height: 150px;
    width: 500px;
    position: absolute;
    background: #888888;
    border: 2px solid #444444;
    border-radius: 20px;
    text-align: center;
    margin: -75px 0 0 -250px;
    left: 50%;
    top: 50%;
}